* {
  margin: 0;
  padding: 0;
}

/* Universal Block Elements */

body {
  background-color: #f0f7f4;
}

.sectionTitle {
}

.sectionSubtitle {
}

/* Home Page Grid */

/* #homeGrid {
  display: grid;
}

#homeHeader {
  grid-area: header;
} */

/* Home Menu */

.nameplate {
  grid-area: nameplate;
}

#homeMenu {
  grid-area: homeMenu;
}

#aboutMenu {
  grid-area: aboutMenu;
}

#homeHeader {
  display: grid;
  grid-template-areas: "homeMenu nameplate nameplate nameplate aboutMenu";
}

.homeText,
.aboutText {
  display: none;
}

/* #homeMenu {
  position: relative;
}

.homeText {
  position: absolute;
  left: 15%;
  top: 4.5%;
}

.lineSVG {
  position: absolute;
  left: -1px;
  top: 115%;
} */

.stickyButtons {
  position: fixed;
}

/* #nameplate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

/* nyuSTC  */

@media (min-width: 760px) {
}
