@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #233f5e;
  --medium-blue: #0c7489;
}

body {
  background-color: #f0f7f4;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  font-family: Quattrocento;
  color: var(--dark-blue);
}

p {
  color: var(--dark-blue);
  font-size: 1.2em;
}

h4 {
  color: var(--medium-blue);
  font-size: 1.3em;
}

/* home grid */

.landingContainer {
  grid-area: "decor";
}

.aboutMeTextContainer {
  grid-area: "aboutMe";
}

.nyuSTC {
  grid-area: "stc";
}

/* .homeGrid {
  display: grid;
  grid-template-areas:
    "decor aboutMe"
    "stc stc"
    "stc stc";
} */

/* Header */

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.headerImg {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}

.headerDecor {
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* About me page */

section.aboutMe {
  margin-top: 2em;
}

.aboutMeLeft {
  width: 50%;
}

.profilePicContainer {
  display: flex;
  width: 100%;
}

.profilePic {
  height: 170px;
  width: 170px;
  border: 10px solid var(--dark-blue);
  margin-left: 3em;
  display: flex;
}

.profilePic > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profilePicDecor {
  position: relative;
  top: 0px;
  left: -35px;
}

.profilePicDecor > img {
  width: 150px;
  height: auto;
}

/* about me home page */

.landingSection {
  margin-top: 2em;
  width: 100vw;
}

.landingContainer {
  position: relative;
  height: 22vw;
}

.landingDecor {
  position: absolute;
  width: 40vw;
  height: auto;
  margin-top: -1em;
  margin-left: 2em;
}

.aboutMeTextContainer {
  position: relative;
  margin-top: -4em;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.aboutMeTextContainer > p {
  text-align: end;
  width: 30vw;
  line-height: 1.5em;
}

.lineDecor {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
  margin-top: 6em;
  margin-left: 13em;
}

.lineDecor::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: relative;
  top: -3px;
}

/* NYU STC */

section.nyuSTC {
  margin-top: 5em;
}

.STCTitleText {
  position: relative;
  width: 90vw;
}

.nyuSTC h3 {
  position: absolute;
  text-align: end;
  letter-spacing: 0.1em;
  margin-left: 13em;
  line-height: 1.3em;
  margin-top: 2em;
}

.nyuSTC h4 {
  text-align: end;
  margin-top: 11em;
  margin-left: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.nyuImgContainer {
  display: flex;
  width: 100vw;
  height: 50vh;
  position: relative;
}

.eventSign {
  position: absolute;
  width: 55vw;
  height: auto;
  border: 10px solid var(--dark-blue);
  margin-left: 35vw;
  margin-top: 35vw;
}

.IDSign {
  position: absolute;
  width: 45vw;
  height: auto;
  border: 10px solid var(--dark-blue);
  margin-left: 10vw;
}

.nyuImgContainer p {
  text-align: end;
  padding-top: 10em;
}

.nyuImgContainer2 {
  width: 100vw;
  height: auto;
  position: relative;
}

.nyuImgContainer2 ul {
  position: absolute;
  margin-left: 3.2em;
  list-style-type: none;
  text-align: end;
  line-height: 1.3em;
  font-size: 1em;
}

.nyuImgContainer2 p {
  text-align: left;
  line-height: 1em;
  font-size: 1em;
  margin-left: 13em;
  padding-top: 1em;
}

.deskSign {
  position: absolute;
  width: 80vw;
  height: auto;
  border: 10px solid var(--dark-blue);
  margin-left: 2.5em;
  margin-top: 1.5em;
}

.blueRect {
  display: none;
}

/* .profilePic {
  height: 170px;
  width: 170px;
  border: 10px solid var(--dark-blue);
  margin-left: 3em;
  display: flex;
} */

@media (min-width: 760px) {
}
