@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #233f5e;
  --medium-blue: #0c7489;
}

/* Universal block rules */

body {
  background-color: #f0f7f4;
}

/* Universal font rules */

h1,
h2,
h3,
h4,
h5,
p,
ul {
  font-family: Quattrocento;
  color: var(--dark-blue);
}

p {
  color: var(--dark-blue);
  font-size: 1.2em;
}

h4 {
  color: var(--medium-blue);
  font-size: 1.3em;
  letter-spacing: 0.09em;
}

ul li {
  font-weight: bold;
  list-style: none;
}

/* Header */

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.headerImg {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}

.headerDecor {
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* About me page */

section.aboutMe {
  margin-top: 2em;
}

.profilePicContainer {
  display: flex;
  width: 100%;
}

.profilePic {
  height: 170px;
  width: 170px;
  border: 10px solid var(--dark-blue);
  margin-left: 3em;
  display: flex;
}

.profilePic > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profilePicDecor {
  position: relative;
  top: 0px;
  left: -35px;
}

.profilePicDecor > img {
  width: 150px;
  height: auto;
}

/* HOME PAGE */

/* landing strip */

.landingSection {
  margin-top: 2em;
  width: 100vw;
}

.landingContainer {
  position: relative;
}

.landingDecor {
  margin-top: -1em;
  margin-left: 2em;
}

.aboutMeTextContainer {
  position: relative;
  margin-top: -4em;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.aboutMeTextContainer > p {
  text-align: end;
  width: 30vw;
  line-height: 1.5em;
}

.aboutMeTextContainer > .lineDecor {
  position: relative;
  margin-top: 6em;
  margin-left: 13em;
}

.lineDecor {
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
}

.lineDecor::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: relative;
  top: -3px;
}

/* nyu stc */

.STCContainer {
  margin: 2em auto;
  padding: 1em;
  max-width: 500px;

  display: grid;
  grid-template-areas:
    "STCHeaderText STCHeaderText STCHeaderText STCHeaderText"
    "STCImgContainer STCImgContainer STCImgContainer STCImgContainer"
    "lineDecor lineDecor lineDecor lineDecor"
    "IDSignImageContainer IDSignImageContainer IDSignText IDSignText"
    "eventSignText eventSignText eventSignImgContainer eventSignImgContainer";
}

.STCContainer img {
  border: 10px solid var(--dark-blue);
}

.STCImgContainer {
  grid-area: STCImgContainer;
  text-align: center;
}

.STCHeaderText {
  grid-area: STCHeaderText;
  text-align: center;
  margin-bottom: 0.3em;
}

.STCContainer > .lineDecor {
  grid-area: lineDecor;
  display: block;
  position: relative;
  margin: 1em 0;
}

.STCContainer > .lineDecor::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 0;
}

.STCHeaderImg {
  width: 100%;
  height: auto;
}

.eventSignImgContainer {
  text-align: right;
  grid-area: eventSignImgContainer;
}

.IDSignImageContainer {
  grid-area: IDSignImageContainer;
  text-align: left;
}

.IDSignText {
  grid-area: IDSignText;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}

.eventSignText {
  grid-area: eventSignText;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1em;
  text-align: right;
  padding-right: 1em;
}

.eventSignText > ul {
  list-style: none;
  margin-right: 1em;
}

.eventSignText > ul > li {
  margin-bottom: 0.5em;
}

/* the skint app */

.skintContainer {
  margin: 2em auto;
  padding: 1em;
  max-width: 500px;

  display: grid;
  grid-template-areas:
    "lineDecor lineDecor"
    "skintTitle skintTitle"
    "skintLaunchImg skintLaunchImg"
    "skintList1 skintList2"
    "skintEventImg skintEventImg";
}

.skintContainer h3 {
  text-align: end;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.skintTitle {
  grid-area: skintTitle;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.skintContainer > .lineDecor {
  grid-area: lineDecor;
  display: block;
  position: relative;
  margin: 1em 0;
}

.skintContainer > .lineDecor::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 0;
}

.skintLaunchImg {
  grid-area: skintLaunchImg;
  width: 70%;
  height: auto;
  margin: auto;
}

.skintContainer ul {
  padding: 1em 0.5em;
}

.skintContainer ul li {
  line-height: 1.5em;
}

.skintList1 {
  grid-area: skintList1;
  width: 50vw;
  height: auto;
  text-align: right;
}

.skintList2 {
  grid-area: skintList2;
  width: 50vw;
  height: auto;
  text-align: left;
}

.skintEventImg {
  grid-area: skintEventImg;
  width: 70%;
  height: auto;
  margin: auto;
}

/* eating the monster apart */
.etmaContainer {
  margin: 2em auto;
  padding: 1em;
  max-width: 500px;

  display: grid;
  grid-template-areas:
    "lineDecor"
    "etmaTitle"
    "HL1"
    "leaf"
    "HL2";
}

.etmaContainer h3 {
  text-align: end;
}

.etmaTitle {
  grid-area: etmaTitle;
  margin-bottom: 1em;
}

/* .etmaList {
  grid-area: etmaList;
  text-align: end;
  margin-bottom: 0.3em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
} */

.etmaContainer > .lineDecor {
  grid-area: lineDecor;
  display: block;
  position: relative;
  margin: 1em 0;
}

.etmaContainer > .lineDecor::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 0;
}

.HL1 {
  grid-area: HL1;
  width: 80%;
  height: auto;
  margin: auto;
  border: 10px solid var(--dark-blue);
}

.leaf {
  margin-top: 1em;
  grid-area: leaf;
  border: none;
  width: 10%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.HL2 {
  grid-area: HL2;
  margin-top: 1em;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid var(--dark-blue);
}

/* HOME media queries */

@media (max-width: 450px) {
  .IDSignText {
    padding-left: 0.5em;
  }
  .eventSignText > ul {
    margin-right: 0.5em;
  }
}

/* MEDIA QUERIES */

/* Large screen layout */
@media (min-width: 1050px) {
  .STCContainer {
    grid-template-areas:
      "STCHeaderText STCHeaderText STCHeaderText STCHeaderText"
      "lineDecor lineDecor lineDecor lineDecor"
      "IDSignImageContainer IDSignText IDSignText IDSignText"
      "STCImgContainer STCImgContainer STCImgContainer STCImgContainer"
      "eventSignText eventSignText eventSignText eventSignImgContainer";
    row-gap: 0.25em;
    max-width: 1000px;
  }

  .STCHeaderImg {
    width: 80%;
  }
}
