@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #233f5e;
  --medium-blue: #0c7489;
}

body {
  background-color: #f0f7f4;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  font-family: Quattrocento;
  color: var(--dark-blue);
}

p {
  color: var(--dark-blue);
  font-size: 1.2em;
}

h4 {
  color: var(--medium-blue);
  font-size: 1.3em;
}

/* home grid */

.landingContainer {
  grid-area: "decor";
}

.aboutMeTextContainer {
  grid-area: "aboutMe";
}

.nyuSTC {
  grid-area: "stc";
}

.nyuImgContainer2 {
  grid-area: "stc2";
}

/* .homeGrid {
  display: grid;
  grid-template-areas:
    "decor aboutMe"
    "stc stc"
    "stc2 stc2";
} */

/* Header */

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.headerImg {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}

.headerDecor {
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* About me page */

section.aboutMe {
  margin-top: 2em;
}

.profilePicContainer {
  display: flex;
  width: 100%;
}

.profilePic {
  height: 170px;
  width: 170px;
  border: 10px solid var(--dark-blue);
  margin-left: 3em;
  display: flex;
}

.profilePic > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profilePicDecor {
  position: relative;
  top: 0px;
  left: -35px;
}

.profilePicDecor > img {
  width: 150px;
  height: auto;
}

/* about me home page */

.landingSection {
  margin-top: 2em;
  width: 100vw;
}

.landingContainer {
  position: relative;
}

.landingDecor {
  margin-top: -1em;
  margin-left: 2em;
}

.aboutMeTextContainer {
  position: relative;
  margin-top: -4em;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.aboutMeTextContainer > p {
  text-align: end;
  width: 30vw;
  line-height: 1.5em;
}

.aboutMeTextContainer > .lineDecor {
  position: relative;
  margin-top: 6em;
  margin-left: 13em;
}

.lineDecor {
  width: 100%;
  height: 2px;
  background-color: var(--dark-blue);
}

.lineDecor::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: relative;
  top: -3px;
}

/* NYU STC */

.STCContainer {
  margin: 2em auto;
  padding: 1em;
  max-width: 500px;

  display: grid;
  grid-template-areas:
    "STCHeaderText STCHeaderText STCHeaderText STCHeaderText"
    "STCImgContainer STCImgContainer STCImgContainer STCImgContainer"
    "lineDecor lineDecor lineDecor lineDecor"
    "IDSignImageContainer IDSignImageContainer IDSignText IDSignText"
    "eventSignText eventSignText eventSignImgContainer eventSignImgContainer";
}

@media (max-width: 500px) {
  .STCContainer {
    /* margin: 2em; */
  }
}

.STCContainer img {
  border: 10px solid var(--dark-blue);
}

.STCImgContainer {
  grid-area: STCImgContainer;
  text-align: center;
}

.STCHeaderText {
  grid-area: STCHeaderText;
  text-align: center;
  margin-bottom: 0.3em;
}

.STCContainer > .lineDecor {
  grid-area: lineDecor;
  display: block;
  position: relative;
  margin: 1em 0;
}

.STCContainer > .lineDecor::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: inherit;
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 0;
}

.STCHeaderImg {
  width: 100%;
  height: auto;
}

.eventSignImgContainer {
  text-align: right;
  grid-area: eventSignImgContainer;
}

.IDSignImageContainer {
  grid-area: IDSignImageContainer;
  text-align: left;
}

.IDSignText {
  grid-area: IDSignText;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}

.eventSignText {
  grid-area: eventSignText;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1em;
  text-align: right;
  padding-right: 1em;
}

.eventSignText > ul {
  list-style: none;
  margin-right: 1em;
}

.eventSignText > ul > li {
  margin-bottom: 0.5em;
  font-weight: bold;
}

@media (max-width: 450px) {
  .IDSignText {
    padding-left: 0.5em;
  }
  .eventSignText > ul {
    margin-right: 0.5em;
  }
}

/* Large screen layout */
@media (min-width: 1050px) {
  .STCContainer {
    grid-template-areas:
      "STCHeaderText STCHeaderText STCHeaderText STCHeaderText"
      "lineDecor lineDecor lineDecor lineDecor"
      "IDSignImageContainer IDSignText IDSignText IDSignText"
      "STCImgContainer STCImgContainer STCImgContainer STCImgContainer"
      "eventSignText eventSignText eventSignText eventSignImgContainer";
    row-gap: 0.25em;
    max-width: 1000px;
  }

  .STCHeaderImg {
    width: 80%;
  }
}
